<form method="post" action="/pantry/options">
  <legend>Add ingredients</legend>
  <fieldset>
    <h1 class="category">Oil and vinegar</h1>

    {{#each oils}}
    <input type="checkbox" name="option" value="{{this}}">{{this}}<br>
    {{/each}}

    <h1 class="category">Herbs and spices</h1>
    {{#each herbs}}
    <input type="checkbox" name="option" value="{{this}}">{{this}}<br>
    {{/each}}

    <h1 class="category">Condiments</h1>
    {{#each condiments}}
    <input type="checkbox" name="option" value="{{this}}">{{this}}<br>
    {{/each}}

    <h1 class="category">Sweeteners</h1>
    {{#each sweeteners}}
    <input type="checkbox" name="option" value="{{this}}">{{this}}<br>
    {{/each}}


    <h1 class="category">Grains and starches</h1>
    {{#each grains}}
    <input type="checkbox" name="option" value="{{this}}">{{this}}<br>
    {{/each}}

    <h1 class="category">Beans (dry or canned)</h1>
    {{#each beans}}
    <input type="checkbox" name="option" value="{{this}}">{{this}}<br>
    {{/each}}

    <h1 class="category">Canned foods</h1>
    {{#each canned}}
    <input type="checkbox" name="option" value="{{this}}">{{this}}<br>
    {{/each}}

  </fieldset>

  <input type="submit" value="Submit now" />

</form>