<h3>Edit Ingredient </h3>


<h4>Editing {{ingredient.name}}</h4>
<h4>The current amount is {{ingredient.amount}}</h4>

<form action="/pantry/edit/{{ingredient._id}}" method="POST">
  <p>
    <label>Category</label>
    <input type="text" name="category" placeholder="enter category" value="{{ingredient.category}}">
  </p>

  <label for="name">Ingredient name</label>
  <input type="text" name="name" value="{{ingredient.name}}">

  <label for="amount">Amount</label>
  <input type="number" min="1" name="amount" placeholder="Optional" value="{{ingredient.amount}}">

  <button type="submit">Enter ingredient</button>

</form>