<div class="pantrycontainer">

    <h1>My pantry</h1>
    <input type="text" id="myInput" onkeyup="searchPantry()" placeholder="Search for categories..">

    <table id="pantry" class="pantry" style="width:100%">
        <tr>
            <th>Category</th>
            <th>Ingredient</th>
            <th>Amount</th>
            <th>Remove</th>
            <th>Edit</th>
        </tr>
        {{#each pantry}}
        <tr>
            <td>{{category}}</td>
            <td>{{name}}</td>
            <td>{{amount}}</td>
            <td>
                <form action="/pantry/remove" method="POST">
                    <button type="submit" name="removeIngredient" value={{_id}}>Remove</button>
            </td>
            <td>
                <a href="/pantry/edit/{{_id}}">Edit</a>
            </td>
        </tr>
        {{/each}}

    </table>


    <a href="/pantry/add">Add customized ingredient!</a>
    <a href="/pantry/options">Add ingredients from a predefined list!</a>
</div>

</div>