<h1>{{recipe.title}}</h1>
<h3>Ingredients</h3>
<p>{{recipe.ingredients}}
<p>

<h3>Description</h3>
<p>{{recipe.description}}</p>

<h3>How to make:</h3>
<p>{{recipe.directions}}</p>

<p>{{recipe.duration}}min</p>

<p>{{recipe.dishes}}</p>
<p>Serves up to {{recipe.servings}} portions</p>

<a href="/shopping-list/{{recipe._id}}">Create your shopping list</a>

<form action="/recipes/delete-recipe/{{recipe._id}}" method="POST">
    <button type="submit">Delete this recipe</button>
</form>

<a href="/recipes/edit-recipe/{{recipe._id}}">Edit</a>
