<div class="recipe">
    <img src="{{recipe.images}}" alt="" class="img">
    <div class="recipe-title">
        <h1>{{recipe.title}}</h1>
    </div>
    <p>{{recipe.description}}</p>
    <div class="infos">
        <p>{{recipe.dishes}}</p>
        <p>{{recipe.duration}}min</p>
        <p>Serves up to {{recipe.servings}} portions</p>
    </div>
    <h5>Ingredients</h5>
    <p>{{recipe.ingredients}}
    <p>


    <h5>How to make:</h5>
    <p>{{recipe.directions}}</p>


    <a href="/shopping-list/{{recipe._id}}">Create your groceries list</a>

    <a href="/recipes/edit-recipe/{{recipe._id}}">Edit your recipe</a>

    <form action="/recipes/delete-recipe/{{recipe._id}}" method="POST">
        <button type="submit">Delete this recipe</button>
    </form>

</div>
